# Example YAML to get you started quickly.
# Be aware that YAML has indentation based scoping.
# Code completion support is available so start typing for available options.
swagger: '2.0'

# This is your document metadata
info:
  version: "1.0.0"
  title: Indulandusz API
# the domain of the service
host: futar.bkk.hu
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /bkk-utvonaltervezo-api/ws/otp/api/where
produces:
  - application/json
# Describe your paths here
paths:
  # This is a path endpoint. Change it.
  /search.json:
    # This is a HTTP operation
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Search for stops or vehicles
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        - name: key
          in: query
          description: API key
          required: true
          type: string
          format: uuid
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ArrayOfResults
            type: array
            items:
              title: Results
              type: object
              properties:
                name:
                  type: string
                single:
                  type: boolean