# Example YAML to get you started quickly.
# Be aware that YAML has indentation based scoping.
# Code completion support is available so start typing for available options.
swagger: '2.0'

# This is your document metadata
info:
  version: "1.0.0"
  title: IndulanduszAPI
# the domain of the service
host: futar.bkk.hu
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /bkk-utvonaltervezo-api/ws/otp/api/where
produces:
  - application/json
# Describe your paths here
paths:
  # This is a path endpoint. Change it.
  /search.json:
    # This is a HTTP operation
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Search for stops or vehicles
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        - name: key
          in: query
          description: API key
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: API version
          required: false
          type: number
        - name: appVersion
          in: query
          description: version of the application using the API
          required: false
          type: string
        - name: includeReferences
          in: query
          description: reference types included in the response
          required: false
          type: string
        - name: query
          in: query
          description: the search criteria
          required: false
          type: string
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/SearchResult'

  /stops-for-location.json:
      # This is a HTTP operation
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Search for stops nearby
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        - name: key
          in: query
          description: API key
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: API version
          required: false
          type: number
        - name: appVersion
          in: query
          description: version of the application using the API
          required: false
          type: string
        - name: includeReferences
          in: query
          description: reference types included in the response
          required: false
          type: string
        - name: lon
          in: query
          description: longitude
          required: true
          type: number
        - name: lat
          in: query
          description: latitude
          required: true
          type: number
        - name: query
          in: query
          description: the search criteria
          required: false
          type: string
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/StopsForLocationResult'
  /arrivals-and-departures-for-stop.json:
   # This is a HTTP operation
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Arriving and departing vehicles for a certain stop
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        - name: key
          in: query
          description: API key
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: API version
          required: false
          type: number
        - name: appVersion
          in: query
          description: version of the application using the API
          required: false
          type: string
        - name: includeReferences
          in: query
          description: reference types included in the response
          required: false
          type: string
        - name: stopId
          in: query
          description: id of the stop
          required: true
          type: string
        - name: onlyDepartures
          in: query
          description: display only departures
          required: false
          type: boolean
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/ArrivalsAndDeparturesForStopResult'
  /schedule-for-stop.json:
   # This is a HTTP operation
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        A stop's scheadule with live data update
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        - name: key
          in: query
          description: API key
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: API version
          required: false
          type: number
        - name: appVersion
          in: query
          description: version of the application using the API
          required: false
          type: string
        - name: includeReferences
          in: query
          description: reference types included in the response
          required: false
          type: string
        - name: stopId
          in: query
          description: id of the stop
          required: true
          type: string
        - name: onlyDepartures
          in: query
          description: display only departures
          required: false
          type: boolean
        - name: date
          in: query
          description: display only departures
          required: false
          type: string
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/ScheduleForStopResult'
definitions:
  SearchResult:
    type: object
    properties:
      query:
        type: string
        description: Search criteria
      stopIds:
        type: object
        description: List of stop ids.
      routeIds:
        type: object
        description: List of route ids.
      alertIds:
        type: object
        description: Alerts
  StopsForLocationResult:
    type: object
    properties:
      id:
        type: string
      lat:
        type: number
      lon:
        type: number
      name:
        type: string
      code:
        type: string
      direction:
        type: string
      locationType:
        type: number
      parentStation:
        type: string
      type:
        type: string
      wheelchairBoarding:
        type: string
      routeIds:
        type: object
      stopColorType:
        type: string
  ArrivalsAndDeparturesForStopResult:
    type: object
    properties:
      stopId:
        type: string
      alertIds:
        type: object
      nearbyStopIds:
        type: number
      stopTimes:
        type: object
  ScheduleForStopResult:
    type: object
    properties:
      stopId:
        type: string
      serviceDate:
        type: string
      alertIds:
        type: object
      schedules:
        type: object
